<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:px-10 sm:py-2 border-b bg-card dark:bg-transparent min-h-[72.8px]">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-col">
                <div class="hidden sm:flex font-medium">
                    <!-- Título "Crear usuario" -->
                    <div class="mr-8">
                             <a class="whitespace-nowrap text-secondary-500 md:text-2xl">Sensores</a>
                    </div>
                    <div class="flex items-end pb-1">
                        <a class="whitespace-nowrap text-primary-500">Inicio</a>
                        <mat-icon class="icon-size-5 text-secondary mx-1" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                        <span class="text-secondary">Sensores</span>
                    </div>
                </div>
            </div>                                
        </div>
        <!-- Actions -->
        <div class="relative mr-4">
            <input 
                type="text"
                placeholder="Buscar..."
                class="bg-white-200 border border-gray-300 text-gray-900 rounded-lg py-2 px-4 focus:outline-none focus:ring-1 focus:ring-sky-500"
            />
            <mat-icon 
                class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500"
                [svgIcon]="'heroicons_mini:magnifying-glass'"></mat-icon>
        </div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button
                class="ml-3 bg-sky-400 hover:bg-sky-500 text-white"
                mat-flat-button [routerLink]="['crear']">
                <mat-icon
                    class="icon-size-4"
                    [svgIcon]="'heroicons_mini:plus'"></mat-icon>
                <span class="ml-2">Nueva</span>
            </button>
        </div>
    </div>

    <!-- Main -->
        <div class="flex-auto p-6 sm:px-10">

        <!-- CONTENT GOES HERE -->
        <div class="max-h-400 rounded-2xl">

            <div class="grid grid-cols-1 gap-8 w-full">
                <!-- Recent transactions table -->
                <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-4">
                    <div class="overflow-x-auto mx-6 mb-4 mt-5">
                        <table class="w-full table-auto bg-transparent">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider">ID</th>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider w-2/6">Nombre</th>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider">Total</th>
                                    <th class="px-6 py-3 text-left text-s font-medium text-gray-500 tracking-wider flex justify-end"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Iterar sobre los usuarios -->
                                <tr *ngFor="let location of locations">
                                    <td class="px-6 py-4 whitespace-nowrap text-s font-medium text-gray-600">{{ location.id }}</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-s font-medium text-gray-600">{{ location.name }}</td>
                                    <td class="px-6 py-4 whitespace-nowrap text-s text-gray-600">{{ location.coordinates.length }}</td>                                 
                                    <td class="px-6 py-4 whitespace-nowrap text-s text-gray-600 space-x-2 flex justify-end">
                                        <!-- Ícono de tres puntos para el menú desplegable -->
                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <!-- Menú desplegable -->
                                        <mat-menu #menu="matMenu">
                                            <!-- Botón de Editar -->
                                            <button mat-menu-item>
                                                Editar
                                            </button>

                                            <!-- Botón de Eliminar -->
                                            <button mat-menu-item (click)="deleteLocation(location.id)" class="text-red-500">
                                                Eliminar
                                            </button>
                                        </mat-menu> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </div>

    </div>

</div>

